body {
    margin-top: 70px;
}

#done label {
    text-decoration: line-through;
}

.list-group-item label {
    cursor: pointer !important;
}

.list-group-item input {
    cursor: pointer !important;
}